<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="../styles/home.css" rel="stylesheet">
</head>
<header>
    <h1><strong>HARMONI CYCLE</strong></h1>
</header>
<body>
    <div class="about">
    <h2><u>About cycle syncing</u></h2>
    <div>
        <p>Cycle syncing is a concept that revolves around understanding and aligning your daily activities and lifestyle choices with the fluctuations in your menstrual cycle. Hormone fluctuations throughout the month can impact emotions, appetite, and various aspects of well-being in women. While there is limited scientific research supporting cycle syncing, advocates believe it can be beneficial. It was coined and trademarked by Alisa Vitti, who founded the FloLiving Hormone Center and introduced the concept in her book, WomanCode.</p>
        <p>The idea behind cycle syncing is to empower women to maximize their hormonal power by recognizing and adapting to these monthly hormonal shifts. Although scientific evidence is somewhat lacking, individuals who may benefit from cycle syncing include those with conditions like polycystic ovarian syndrome (PCOS), overweight individuals, those experiencing fatigue, and those trying to conceive. Essentially, it involves tailoring your daily routines and activities to better align with your hormonal changes, potentially helping to improve overall well-being, especially during the menstrual cycle.</p>
    </div>
    <a href="../templates/calc.html">Menstrual Cycle Calculator</a>
</div>
    <hr>
    <div class="container-box">
        <h2><u>Framework for cycle syncing</u></h2>
        <p>As our hormones ebb and flow over the span of 4 weeks, our menstrual cycle biologically has three distinct eras:
            <ul>
            <li>follicular (pre-egg release)</li>
            <li>ovulatory (process of release of the egg)</li>
            <li>luteal (post-egg release)</li>    
        </ul>
            When it comes to cycle syncing, your actual period is considered the fourth phase.</p>
    <div class="container1">
        <div class="men">
            <h4>MENSTRUAL PHASE</h4>
            <p>Estrogen and progesterone are low.</p>
            <p>Duration (approx.): 1–5</p>
            <p>Excercise recomended: Light movements may be best during this stage.</p>
            <p>Food recommended: During this phase, your estrogen is on the rise. Drink soothing tea, like chamomile, to combat cramps. Avoid or limit fatty foods, alcohol, caffeine, and salty foods.</p>
        </div>
        <div class="fol">
            <h4>FOLLICULAR PHASE</h4>
            <p>Estrogen and progesterone are on the rise.</p>
            <p>Duration (approx.): 6–14</p>
            <p>Excercise recomended: Try light cardio. Your hormones are still low, especially testosterone. This may cause low stamina.</p>
            <p>Food recommended: Try to incorporate foods that will metabolize estrogen. Focus on sprouted and fermented foods like broccoli sprouts, kimchi, and sauerkraut.</p>
        </div>
        <div class="ovu">
            <h4>OVULATORY PHASE</h4>
            <p>Estrogen peaks.Testosterone and progesterone rise.</p>
            <p>Duration (approx.): 15–17</p>
            <p>Excercise recommended: Opt for circuit, high-intensity exercises, as energy may be higher.</p>
            <p>Food recommended: With your estrogen at an all-time high, you should eat foods that support your liver. Focus on anti-inflammatory foods like whole fruits, vegetables, and almonds. They pack incredible health benefits, including anti-aging properties and protection from environmental toxins, which are known to have an impact on your hormones.</p>
        </div>
        <div class="lut">
            <h4>LUTEAL PHASE</h4>
            <p>Estrogen and progesterone levels are high.</p>
            <p>Duration (approx.): 18–28</p>
            <p>Excercise recommended: Your body is preparing for another period cycle. Energy levels may be low. Doing light-to-moderate exercise may be best.</p>
            <p>Food recommended: Estrogen and progesterone both surge and then wane during this period. Eat foods that will produce serotonin, like leafy greens, quinoa, and buckwheat. You’ll also want to focus on magnesium-rich foods that fight fatigue and low libido, like dark chocolate, spinach, and pumpkin seeds.</p>
        </div>
    </div>
    <a href="https://www.healthline.com/health/womens-health/guide-to-cycle-syncing-how-to-start#four-phases-of-cycle-syncing"><p>Source</p></a>
</div>
</body>
<footer>
    <strong>TechTogether 2023</strong>
</footer>
</html>